## Ignore all subdirectories except our spiders
/scraping/metal_env/*
!/scraping/metal_env/metal_scrape/

/scraping/metal_env/metal_scrape/*
!/scraping/metal_env/metal_scrape/metal_scrape/

/scraping/metal_env/metal_scrape/metal_scrape/*
!/scraping/metal_env/metal_scrape/metal_scrape/spiders/

